@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: serif;
}

body{
    color: #181818;
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100svh;
    padding: 0 24px;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    z-index: 0;
}

.bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.background-slideshow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    mix-blend-mode: overlay;
    z-index: 1;
}

.background-slideshow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .3;
    transition: 1s ease-in-out;
}

.background-slideshow img.change-img{
    opacity: 0;
}


.text-placeholder{
    opacity: 0;
    animation: fade-in 1s ease-in;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    text-shadow: 0 2px 5px #181818;
    letter-spacing: .5px;
}

p.fade-in{
    animation: fade-in 1s 1 forwards;
}

p.fade-out{
     animation: fade-out 1s 1 forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }

    100%{
        transform: translateY(-20px);
        opacity: 0;
    }
}